*{margin: 0;
    padding: 0;
}

body {
    font-family: 'Euclid Circular A', sans-serif;                                               
}

.navbar {
    display: flex;
    padding: 24px 72px 32px 72px;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
}

.logo {
    font-size: 24px;
    font-weight: 500;
    color: #374151;
}

.search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9CA3AF;
    padding-bottom: 4px;
}

.search-icon {
    margin-right: 16px;
    color: #9CA3AF;
}

.search-input {
    border: none;
    background: none;
    outline: none;
}

.search-input::placeholder{
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
} 
.menu {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}
.menu li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #687280;

}
.menu .basket {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #1f2937;
}
.second-nav{
    padding: 20px 72px;
}
.navlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks {
    list-style: none;
}
.navlinks li a {
    text-decoration: none;
    color: #374151;
    font-size: 14px;
    font-weight: 600;
}
.navlinks span {
    background-color: #EB5757;
    padding: 4px 8px;
    color: #FFFFFF;
    border-radius: 2px;
    font-weight: 500;
    font-size: 13px;
}
.header {
    display: flex;
    height: 100vh;
    width: 100%;
}
.text {
    background: url(./images/background\ image.png), #1C2333;
    height: 100%;
    width: 70%;
}
.box {
    margin: 125px 96px;
    background-color:#1F2937;
    padding: 40px;
    width: 55%;
}
.discount{
    color: #FAFAFA;
    font-size: 56px;
    font-weight: 600;
}
.arrivals{
    color: #F7C59F;
    font-size: 56px;
    font-weight: 600;
}
p {
    font-size: 18px;
    font-weight: 400;
    color: #F3F4F6;
    margin-top: 24px;
}
.outline {
    margin-top: 56px;
    background-color: transparent;
    border: 1px solid #FAFAFA;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FAFAFA ;
}
.image {
    background-color: #F7C59F;
    width: 30%;
}
.circle {
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 300px;
    height: 300px;
    margin: 34% auto;
    display: flex;
    justify-content: center;
}
.img {
    height: 550px;
    width: 250px;
    object-fit: cover;
    margin-top: -33%;
}
.sub-heading {
    text-align: center;
    padding: 120px 20px;
    color: #374151;
    margin-bottom: 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 20px;
    margin: 0 auto;
}
.grid {
  display: flex;
  flex-direction: column;
  gap: 20px; /* space between the two rows */
  margin: 40px auto;
  width: 90%;
  max-width: 1200px;
}





